* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #f9e6fa, #73cbfd, #fde0fe);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}   
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 30%, rgba(255, 0, 204, 0.15), transparent 40%),
                radial-gradient(circle at 80% 70%, rgba(51, 51, 255, 0.15), transparent 40%);
    z-index: -1;
}

.app-header {
      font-size: 80px;
      color: #fff;
      text-align: center;
      text-shadow: 
        0 0 20px #ab62fa,
        0 0 30px #6a0fba,
        0 0 40px #3333ff,
        0 0 50px #5c5cf3;
      letter-spacing: 2px;
      margin-top:120px;
      display: block;
}

.app-content {
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2%;
    border:2px #6a0fba;
}

.search-input {
    min-height: 40px;
    min-width: 300px;
    outline: none;
    border: 1.5px solid #6a0fba;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.search-button {
    min-height: 40px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1.5px solid #6a0fba;
    border-left: none;
    background-color: rgb(230, 215, 249);
    outline: none;
    cursor: pointer;
}


.results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    border: 2.5px solid rgb(112, 88, 220);
    width:600px;
    background-color: #96d0f1;
    @media screen and (max-width:600px){
        width:350px;
    }
}

.image {
    height: 350px ;
    object-fit: cover;

    @media screen and (max-width:600px){
        height:200px;
    }
}

.description {
    padding: 10px;
}

.click_div {
    margin: 0 auto;
    width: 200px;
    height: 80px;
}

.click_button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(45deg, #ee93fa, #4a9def);
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px #ba25ff, 0 0 70px #3388ff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
}

.click_button:hover {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 0 30px #0077ff, 0 0 70px #850ff4;
    background: linear-gradient(45deg, #1181f1, #d838f8);
}
